body{
    background-color: #2A2F33;
}

*{
    color:#BBB6A5
}

header {
    background-color: #9F4A54;
}

h1{
    color:#8C9491
}

footer p{
    color:#8C9491
}

footer a{
    color:#8C9491
}