
body {
    background-color: #101213;
    background-image:
    radial-gradient(at 44% 22%, hsla(231,8%,6%,1) 0px, transparent 50%),
    radial-gradient(at 80% 0%, hsla(199,57%,40%,1) 0px, transparent 50%),
    radial-gradient(at 0% 50%, hsla(243,86%,60%,1) 0px, transparent 50%),
    radial-gradient(at 83% 41%, hsla(246,38%,46%,1) 0px, transparent 50%),
    radial-gradient(at 2% 96%, hsla(241,23%,16%,1) 0px, transparent 50%),
    radial-gradient(at 79% 94%, hsla(272,96%,10%,1) 0px, transparent 50%),
    radial-gradient(at 0% 0%, hsla(258,64%,4%,1) 0px, transparent 50%);
    margin: 0;
    padding: 0;
    min-height: 100vh;
    width: 100%;
    color: #E6E8E6;
    text-shadow: black 0px 0px 3px;
}

nav {
    background-color: #4A6FA5;
    border: solid black 2px;
    border-radius: 2px;
    display: flex;
    justify-content: center;
    font-size: 22px;
}
nav  a {
    text-decoration:none;
 }

.nav-home {
    /*display: flex;
    align-items: center;*/
    margin-right: 10px;
    margin-bottom: 10px;
}
.nav-resume {
    margin-right: 10px;
    margin-bottom: 10px;
}
.nav-contacts {
    margin-right: 10px;
    margin-bottom: 10px;
}
.home-intro {
    /*border: white solid 2px;*/
    text-align: center;
    font-family: Georgia ,serif;
    height: 100vh;
}

main {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: flex-start;
    flex-direction: column;
    /*border: pink solid 5px;*/
    min-height: 100vh;
    
    
}
.home-intro-first {
    text-align: center;
    font-size: 1.25rem;
}

.home-intro-second {
    text-align: center;
    font-size: 1.25rem;
}

.home-intro-third {
    text-align: center;
    font-size: 1.25rem;
}
.contacts-intro{
    /*border: red solid 2px;*/
    margin: 0 auto;
    width: 100%;
}

.constacts-into-text {
    text-align:  center;
    font-size: 1.88rem;
}
.contacts-github {
    display: flex;
    flex-direction: column;
    width: 100%;
    /*border: white solid 2px;*/
    margin-top: auto;
}

.githubimg {
    width: 125px;
}

.githubimgwords {
    width: 100px;
}

.github-text {
    font-size: 1.25rem;

}
.contacts-Linkedin { 
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: 100%;
    /*border: rgb(255, 255, 255) solid 2px;*/
    margin-top: auto;
}

.linkdinimg {
    width: 125px;
}

.linkedintext {
    text-align: right;
    font-size: 1.25rem;
}
.contacts-codedex {
    display: flex;
    flex-direction: column;
    width: 100%;
    /*border: rgb(255, 255, 255) solid 2px;*/
    margin-top: auto;
}

.codedex-bot-logo {
    width: 200px;
}

.codedex-logo {
    width: 200px;
}

.codedex-text {
    font-size: 1.25rem;
}
.contacts-insperation {
    display: flex;
    justify-content: center;
    width: 100%;
    text-align: center;
    margin-top: auto;
}

footer {
    display: flex;
    justify-content: flex-end;
    /*border: white solid 2px;*/
    margin-top: auto;
}
/*
https://coolors.co/101213-2ca58d-e6e8e6-4392f1-4a6fa5

pallet for background.
*/